[Unit]
Description=Locaccel
After=network.target

[Service]
ExecStart=/usr/local/bin/locaccel
Restart=always
Type=exec
Environment="LOCACCEL_DEFAULT_CACHE_PATH=/var/cache/locaccel"
Environment="LOCACCEL_DEFAULT_CONFIG_PATH=/etc/locaccel/locaccel.yaml"
CapabilityBoundingSet=
Group=locaccel
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=strict
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/cache/locaccel
RemoveIPC=true
RestrictNamespaces=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
# FIXME: can we filter this list down?
SystemCallFilter=@aio @basic-io @clock @file-system @io-event @ipc @memlock @module @mount @network-io @process @raw-io @signal @sync @system-service @timer @known
User=locaccel

[Install]
WantedBy=default.target
RequiredBy=network.target
