services:
  locaccel:
    build:
      context: ../../../
    read_only: true
    environment:
      LOCACCEL_HOST: 0.0.0.0
      LOCACCEL_LOG_FORMAT: console
    volumes:
      - locaccel-podman-example:/cache

  podman:
    command: podman build .
    devices:
      - /dev/fuse
    image: quay.io/podman/stable
    working_dir: /src
    depends_on:
      - locaccel
    volumes:
      - ./Containerfile:/src/Containerfile:ro,Z
      - ./containers.conf:/etc/containers/containers.conf:ro,Z
      - ./mounts.conf:/etc/containers/mounts.conf:ro,Z
      - ./registries.conf:/etc/containers/registries.conf.d/050-mirrors.conf:ro,Z
      - ./gemrc:/etc/gemrc:ro,Z
      - ./npmrc:/etc/npmrc:ro,Z
      - ./pip.conf:/etc/pip.conf:ro,Z

volumes:
  locaccel-podman-example:
