.flex-columns {
    display: flex;
    flex-direction: row;
}

.flex-columns > * {
    flex: 1;
    margin-left: 1em;
    margin-right: 1em;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

th, td {
    border: 1px solid black;
    padding: .2em;
}

#components td:nth-child(2), #breakdown td:nth-child(2) {
    text-align: right;
}

#config {
    background-color: darkgray;
}


.col-2-right-align td:nth-child(2),
.col-3-right-align td:nth-child(3) {
    text-align: right;
}
