table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

th, td {
    border: 1px solid black;
    padding: .2em;
}

#components td:nth-child(2), #breakdown td:nth-child(2) {
    text-align: right;
}

#config {
    background-color: darkgray;
}
