name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  package:
    uses: ./.github/workflows/package.yml

  oci_image:
    name: oci
    uses: ./.github/workflows/oci.yml
    needs:
      - test
    with:
      publish: ${{ github.ref == 'refs/heads/main' }}
      tags: |
        type=edge
        type=ref,event=pr
    permissions:
      id-token: write
      contents: read
      attestations: write
      packages: write

  benchmark:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout base
        if: ${{ github.base_ref }}
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          path: base/
          ref: ${{ github.base_ref }}

      - name: Checkout head
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          path: head/

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          go-version: stable
          cache-dependency-path: head/go.sum

      - name: Generate code
        run: |
          set -eu

          (cd head && go generate ./...)
          if [ -d base ]; then
            (cd base && go generate ./...)
          fi

      - name: Create benchmarks result directory
        run: mkdir -p benchmarks/

      - name: Run benchmarks against base
        if: ${{ github.base_ref }}
        run: |
          set -eu
          set -o pipefail

          go test -count=10 -bench=. -run=^$ -benchmem -short ./... | tee ../benchmarks/base.txt
          go test -count=10 --benchtime 10x -bench=^BenchmarkIntegration -run=^$ -benchmem ./... | tee --append ../benchmarks/base.txt
        working-directory: base

      - name: Run benchmarks against head
        run: |
          set -eu
          set -o pipefail

          go test -count=10 -bench=. -run=^$ -benchmem -short ./... | tee ../benchmarks/head.txt
          go test -count=10 -benchtime 10x -bench=^BenchmarkIntegration -run=^$ -benchmem ./... | tee --append ../benchmarks/head.txt
        working-directory: head

      - name: Install benchstat
        run: go install golang.org/x/perf/cmd/benchstat@latest

      - name: Generate report
        if: ${{ !github.base_ref }}
        run: |
          set -eu
          set -o pipefail

          benchstat head=benchmarks/head.txt | tee ./benchmarks/stats.txt

          cat << EOF >> $GITHUB_STEP_SUMMARY
          # Benchmarks

          ## Statistics

          \`\`\`
          $(cat benchmarks/stats.txt)
          \`\`\`

          ### Results

          \`\`\`
          $(cat benchmarks/head.txt | grep -v "^\s" | grep -v "^--- BENCH:")
          \`\`\`
          EOF

      - name: Compare benchmarks
        if: ${{ github.base_ref }}
        run: |
          set -eu
          set -o pipefail

          benchstat base=benchmarks/base.txt head=benchmarks/head.txt | tee ./benchmarks/diff.txt

          cat << EOF >> $GITHUB_STEP_SUMMARY
          # Benchmarks

          $(benchstat -format=csv base=benchmarks/base.txt head=benchmarks/head.txt | go run head/.github/scripts/format-benchmarks.go github.com/${{ github.repository }})

          ## Head

          \`\`\`
          $(cat benchmarks/head.txt | grep -v "^\s" | grep -v "^--- BENCH:")
          \`\`\`

          ## Base

          \`\`\`
          $(cat benchmarks/base.txt | grep -v "^\s" | grep -v "^--- BENCH:")
          \`\`\`
          EOF


      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # v5.0.0
        with:
          name: benchmarks
          path: benchmarks/*
          if-no-files-found: error
