name: OCI Image

on:
  workflow_call:
    inputs:
      publish:
        type: boolean
        required: true
      tags:
        type: string
        required: true

jobs:
  build:
    name: ${{ inputs.publish && 'build and publish' || 'build' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      attestations: write
      packages: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          fetch-depth: 0
          fetch-tags: true
          filter: tree:0

      - name: Compute the image namespace and registry
        id: namespace
        run: >-
          echo "image=ghcr.io/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
          && echo "registry=ghcr.io/$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Extract docker metadata
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893  # v5.9.0
        with:
          images: ${{ steps.namespace.outputs.image }}
          labels: |
            org.opencontainers.image.created={{commit_date 'YYYY-MM-DDTHH:mm:ss.SSS[Z]'}}
            org.opencontainers.image.documentation=${{ github.server_url }}/${{ github.repository }}
          tags: ${{ inputs.tags }}

      - name: Compute the timestamp for the image build
        id: timestamp
        run: echo "timestamp=$(git log -1 --pretty=%ct ${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.revision'] }})" >> $GITHUB_OUTPUT

      - name: Build container image
        id: build
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056  # v2.13
        with:
          platforms: linux/amd64, linux/arm64
          containerfiles: Containerfile
          oci: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          extra-args: |
            --timestamp=${{ steps.timestamp.outputs.timestamp }}

      - name: Log in to ghcr
        uses: redhat-actions/podman-login@4934294ad0449894bcd1e9f191899d7292469603  # v1.7
        with:
          username: ${{ github.actor }}
          password: ${{ github.token }}
          registry: ${{ steps.namespace.outputs.registry }}
        if: ${{ inputs.publish }}

      - name: Push images
        id: push
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c  # v2.8
        with:
          tags: ${{ steps.build.outputs.tags }}
        if: ${{ inputs.publish }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a  # v3.0.0
        with:
          subject-name: ${{ steps.namespace.outputs.image }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
        if: ${{ inputs.publish }}
