name: release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  test:
    uses: ./.github/workflows/test.yml
    permissions:
      contents: read
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  oci_image:
    name: oci
    uses: ./.github/workflows/oci.yml
    needs:
      - test
    with:
      publish: true
      tags: |
        type=semver,pattern={{version}}
        type=semver,pattern={{major}}.{{minor}}
        type=semver,pattern={{major}}
    permissions:
      id-token: write
      contents: read
      attestations: write
      packages: write

  package:
    uses: ./.github/workflows/package.yml
    permissions:
      contents: read

  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs:
      - package
      - oci_image
      - test

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          ref: ${{ github.ref_name }}

      - name: Extract git tag information
        run: |
          echo "GIT_TAG_BODY<<EOF" | tee --append $GITHUB_ENV
          echo "$(git tag -l --format='%(contents:body)' ${{ github.ref_name }})" | tee --append $GITHUB_ENV
          echo "EOF" | tee --append $GITHUB_ENV

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53  # v6.0.0
        with:
          name: locaccel-packages
          path: dist/

      - name: Create release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe  # v2.4.2
        with:
          body: ${{ env.GIT_TAG_BODY }}
          files: dist/*.tar.gz
          fail_on_unmatched_files: true
          generate_release_notes: true
